* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #bdaf9e;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: -1;
}

.placeholder {
    color: #e7e7e7;
    font-family: 'WindSong', cursive;
    font-size: 50px;
}

nav {
    margin: 7px 0;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a {
    font-family: 'Shalimar', cursive;
    color: #bdaf9e;
    font-size: 30px;
    background-color: #000000;
}

nav ul li a:hover {
    color: #e7e7e7;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    padding: .5em;
  text-align: center;
  border-radius: 0;
  background: #000000;
  margin-bottom: 20px;
}

.header {
    padding: 5px;
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
}

.text {
    padding-top: 20px;
}

.container {
    text-align: center;
    justify-content: space-around;
}

img {
    height: 300px;
    width: auto;
}

.recipeContainer {
    padding-bottom: 20px;
}

.recipeContainer p {
    font-weight: bold;
}

.border {
    border-radius: 15px;
    background: #e7e7e7;
}

.recipeContainer ul {
    font-weight: bold;
    margin-left:20px;
}

.recipeContainer ul li {
    font-weight:400;
}

.header {
    color: #e7e7e7;
    background: linear-gradient( black 25%, #bdaf9e);
    font-family: 'Shalimar', cursive;
    font-size: 55px;
}

header, .header {
    animation: fadeInAnimation2 ease 800ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.recipeContainer{
    animation: fadeInAnimation ease 1600ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }
  
  .eventContainer{
    animation: fadeInAnimation ease 1600ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  
  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
       }
  }

  @keyframes fadeInAnimation2 {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: 100%;
     }
}