* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* styling begin for nav and header */

.jumbotron {
  padding: .5em;
  text-align: center;
  border-radius: 0;
  background: #000000;
  margin-bottom: 20px;
}

.placeholder {
  color: #e7e7e7;
  font-family: 'WindSong', cursive;
  font-size: 50px;
}

nav {
   margin: 7px 0;
   justify-content: space-between;
}

nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

nav ul li {
   padding: 10px 20px;
   font-weight: lighter;
   font-size: 1.2vw;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a {
   font-family: 'Shalimar', cursive;
   color: #bdaf9e;
   font-size: 30px;
   background-color: #000000;
}

nav ul li a:hover {
  color: #e7e7e7;
}

/* styling begin for form */

img {
  width: 100%;
  margin: 0 10px 10px 0;
}

#eventSelect {
  padding: 7px 0px;
}

a {
  background-color: #efefef;
}

.recipeText {
  font-family: 'Shalimar', cursive;
  color: #e7e7e7;
}

body{
  background: #bdaf9e;
}

main, header{
  animation: fadeInAnimation ease 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 15px;
  background: linear-gradient( black 25%, #bdaf9e);
}

section p {
  font-weight: bolder;
}

section{
  animation: fadeInAnimation ease 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  padding-left: 200px;
  border-bottom: 1px solid;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: 100%;
     }
}

.background {
  background: #e7e7e7;
  border-radius: 15px;
}

.titleRecipe {
  min-height: 73px;
}

.btn-primary, .btn-success {
  background-color: black;
  color: #e7e7e7;
} 

ul {
  font-weight: bold;
  font-size: large;
}

ul li {
  margin-left:10px;
  font-weight: 400;
  text-align: left;
}

/* begin modal specific formatting */

dialog form p {
  font-size: 1em;
  padding: 10%;
}

#dialogModal p {
  font-family: 'Shalimar', cursive;
}

#dialogModal {
  margin:auto;
  font-size: 40px;
}

dialog button:hover {
  opacity: 70%;
  transition: 500ms;
}

/* begin media query hotfixes to allow more fluid transitions for mobile friendliness*/

@media screen and (min-width: 500px) {
  .recipeText {
    font-size: 30px;
  }
  }

  @media screen and (min-width: 575px) {
  
    .recipeText {
      font-size: 40px;
    }
  }