* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.jumbotron {
  padding: .5em;
  margin-left: -20px;
  text-align: center;
  border-radius: 0;
  background: #000000;
  margin-bottom: 20px;
}

.placeholder {
  color: #e7e7e7;
  font-family: 'WindSong', cursive;
  font-size: 50px;
}

nav {
   margin: 7px 0;
   justify-content: space-between;
}

nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

nav ul li {
   padding: 10px 20px;
   font-weight: lighter;
   font-size: 1.2vw;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a {
   font-family: 'Shalimar', cursive;
   color: #bdaf9e;
   font-size: 30px;
   background-color: #000000;
}

nav ul li a:hover {
  color: #e7e7e7;
}

img {
  height:200px;
  width: 200px;
  margin: 0 10px 10px 0;
}

#eventSelect {
  padding: 7px 0px;
}

section p {
  font-weight: bolder;
}
section {
  padding-left: 200px;
  border-bottom: 1px solid;
}

#nextBtn {
  padding-bottom:84px;
}

a {
  background-color: #efefef;
}

dialog form p {
  font-size: 1em;
  padding: 10%;
}

#dialogModal {
  margin:auto;
}

@media screen and (min-width: 500px) {
  body {
      margin-left: 20px;
  }
  }
