
/* "*" Section applies to all*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start general styling start */
body {
    background-color: #bdaf9e;
    
}

.title {
      font-family: 'WindSong', cursive;
      font-size: 75px;
      font-weight: lighter;
      padding-top: 20px;
      color: #e7e7e7;
}
/* end general styling end */

/* start styling header and nav bar start */
nav {
    margin: 7px 0;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a {
    font-family: 'Shalimar', cursive;
    color: #bdaf9e;
    font-size: 30px;
    background-color: #000000;
}

nav ul li a:hover {
    color: #e7e7e7;
}

.jumbotron {
    padding: .5em;
    text-align: center;
    border-radius: 0;
    background: #000000;
    margin-bottom: 20px;
  }

.placeholder {
    color: #e7e7e7;
    font-family: 'WindSong', cursive;
    font-size: 50px;
}

header,.container {
    animation: fadeInAnimation ease 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
 /* animation for header nav bar */
 @keyframes fadeInAnimation {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: 100%;
     }
}
/* end styling header and nav bar end */

/* start styling event finder user input area start */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.grad{
    background-color: #16130f;
    background: linear-gradient( black 25%, #bdaf9e);
    border-radius: 15px;
}

h2{
    font-family: 'Shalimar', cursive;
    color: #e7e7e7
}

.text {
    padding-top: 20px;
}
/* end styling event finder user input area end */

/* start styling event finder search results start */
.bckgrnd {
    animation: fadeInAnimation ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    border-radius: 15px;
    background: #e7e7e7;
}

.container {
    text-align: center;
}

img {
    opacity: 60%;
    height: 100%;
    padding: 5px 0px;
}

img:hover {
    opacity: 100%;
    padding: 5px 0px 0px 0px;
    box-shadow: 10px 5px 5px#707070;
}

#eventSelect {
    padding: 7px 0px;
}
/* end styling event finder search results end */

/* start styling for modal start */
#dialogModal{
    margin:auto;
    width: 30%;
}

#dialogModal p {
    font-family: 'Shalimar', cursive;
    font-size: 30px;
}

dialog form p {
    padding-right: 5%;
    padding-left: 5%;
    padding-top:10% ;
    font-size: medium;
}
/* end styling for modal end */
    
/* start media query section for mobile optimization start */
@media screen and (min-width: 500px) {
    .eventInfo {
        text-align: center;
    }
}

@media screen and (min-width: 575px) {
    .eventInfo {
        text-align: left;
    }
}
/* end media query section for mobile optimization end */

/* END */