* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.background-color {
    background: #bdaf9e;
    margin: 0 70px 70px 70px;
}

.placeholder {
   opacity: 0;
}

nav {
    margin: 7px 0;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a {
    color: #bdaf9e;
}

.jumbotron {
    padding: .5em;
    text-align: center;
    border-radius: 0;
    background: #bdaf9e;
}

.container {
    text-align: center;
}

img {
    height:300px;
    width: 300px;
    margin: 20px 20px 45px 20px;
    opacity: 60%;
}

img:hover {
    opacity: 100%;
}

#eventSelect {
    padding: 7px 0px;
}
