* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    padding: 2em;
    text-align: center;
    color: #2bc74d;
    border-radius: 0;
    background-image: linear-gradient(90deg, #000000 0%, #000000 100%);
}

img {
    height:250px;
    width: 250px;
    margin: 0 10px 10px 0;
}